@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Orbitron", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    background-image: url("./assets/images/download.svg");
    background-color: #000000;
  }
}

@layer components {
  .containerLayout {
    @apply container mx-auto h-[100dvh];
  }
  @keyframes blink {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

  .animate-blink {
    display: inline-block;
    margin-left: 2px;
    background: #fff;
    animation: blink 1s infinite;
  }
  /* Scanner bar animation */
  @keyframes scan {
    0% {
      width: 0;
      height: 0;
      opacity: 1;
    }
    10% {
      width: 32%;
      height: 100%;
      opacity: 1;
    }
    20% {
      width: 100%;
      opacity: 1;
    }
    80% {
      width: 100%;
      opacity: 1;
    } /* hold for ~3s */
    90% {
      width: 32%;
      height: 100%;
      opacity: 1;
    }
    100% {
      width: 0;
      height: 0;
      opacity: 1;
    }
  }

  .scanning-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%; /* width of scanner frame */
    background: rgba(255, 255, 255, 0.15); /* faint light effect */
    animation: scan 8s ease-in-out infinite;
    animation-delay: 1.5s;
    opacity: 0;
    border-radius: 0.5rem;
  }

  @keyframes hand-movement {
    0% {
      opacity: 1;
      transform: translate(70%, -10%);
    }
    10% {
      opacity: 1;
      transform: translate(70%, -10%);
    }
    20% {
      opacity: 1;
      transform: translate(70%, -10%);
    }
    80% {
      opacity: 1;
      transform: translate(70%, -10%);
    }
    90% {
      opacity: 1;
      transform: translate(70%, -10%);
    }
    100% {
      opacity: 1;
      transform: translate(70%, -10%);
    }
  }

  /* Hand pointer synced with bar */
  .hand-pointer {
    position: absolute;
    bottom: -25px; /* just below the bar */
    right: 0; /* stick to right end */
    animation: hand-movement 10s ease-in-out infinite;
    animation-delay: 3s;
  }
}
