@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    font-family: 'Orbitron',sans-serif;
  }

  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    background: linear-gradient(to top right, #343434 0%, #0A0A0A 100%);
    background-image: url("./assets/images/download.svg");
    background-color: #0d0d0d;
  }
}

@layer components{
  .containerLayout{
    @apply container mx-auto h-[100vh]
  }
  .arrow-btn{
    @apply absolute -bottom-[5rem] transform -translate-y-1/2 bg-blue-950 bg-opacity-70 text-white p-2 rounded-full shadow  
  }
  .bg-image{
    background-image: url("./assets/images/background.png");
  }
  .font-tech-mono{
    font-family: 'Share Tech Mono', sans-serif;
  }
  .font-roboto{
    font-family: 'Roboto Mono', sans-serif;
  }

  /* Image Slider */
  .slider-container {
    position: relative;
    width: 500px;
    height: 300px;
  }
  
  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 0.8s ease, filter 0.5s ease;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Position styles */
  .left {
    transform: translateX(0px) translateY(-70px) scale(0.8) rotateY(10deg);
    z-index: 1;
    filter: brightness(0.7);
  }
  
  .center {
    transform: translateX(0) scale(1) rotateY(0deg);
    z-index: 2;
    filter: brightness(1);
  }
  
  .right {
    transform: translateX(0px) translateY(-40px) scale(0.9) rotateY(-10deg);
    z-index: 1;
    filter: brightness(0.7);
  }
  
  @keyframes jump {
    0% {
      transform: translateX(0px) translateY(-40px) scale(0.9) /* Start at the normal position */
    }
    50% {
      transform: translateY(-60px) scale(1); /* Jump upwards */
      z-index: 3;
    }
    100% {
      transform: translateY(0) scale(1); /* Return to the original position */
      filter: brightness(1);
      z-index: 3;
    }
  }
  
  /* Apply keyframe animation on hover */
  .center:hover {
    z-index: 4; /* Ensure it's on top of other cards */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a shadow to give depth */
    transform: scale(1.05);
  }
  
  /* Animation Classes */
  .slide-next.left {
    transform: translateY(0px) scale(0.8);
    z-index: 1;
  }
  .slide-next.center {
    z-index: 2;
  }
  .slide-next.right {
    animation: jump 0.6s ease-in-out forwards;
  }
  
  .slide-prev.left {
    animation: jump 0.6s ease-in forwards;
  }
  /* .slide-prev.center {
    transform: translateX(150%) scale(0.8);
  } */
  .slide-prev.right {
    transform: translateY(0px) scale(0.8);
  }
  
  .controls {
    position: absolute;
    bottom: -60px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .arrowBtn {
    padding: 10px 25px;
    background: #2c3e50;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s;
  }
  
  .arrowBtn:hover {
    background: #3498db;
    transform: translateY(-3px);
  }

  /* End of style in image slider */
  .scrollbar-yellow::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-yellow::-webkit-scrollbar-track {
    background: #1f2937; /* Tailwind's gray-800 */
  }

  .scrollbar-yellow::-webkit-scrollbar-thumb {
    background-color: #facc15; /* Tailwind's yellow-400 */
    border-radius: 10px;
    border: 2px solid #1f2937;
  }

  /* For Firefox */
  .scrollbar-yellow {
    scrollbar-width: thin;
    scrollbar-color: #facc15 transparent;
  }

  
}